@font-face {
    font-family: 'Pattaya';
    src: url('Pattaya-Regular.woff2') format('woff2'),
        url('Pattaya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

