
/* XL */

@media(max-width:1399px){
    
}


    /* LG */

@media(max-width:1199px){
    .w-lg-2{
        width: 50%;
        margin-bottom: 30px;
    }
}


/* MD */

@media(max-width:991px){
    .w-md-2{
        width: 50%;
    }
}

/* SM */

@media(max-width:767px){
    .w-sm-2{
        width: 50%;
        margin-bottom: 30px;
    }
}

/* XS */

@media(max-width:575px){
    .w-xs-1{
        width: 100%;
        margin-bottom: 30px;
    }

}





