@media(max-width:1399px){
    
}

@media(max-width:1199px){
    .w-xl-2{
        width: 50%;
    }
}

@media(max-width:991px){
    .w-md-2{
        width: 50%;
        margin: 0 auto;
    }
}

@media(max-width:767px){
    .w-sm-2{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}

@media(max-width:575px){
    .w-xs-1{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

}



