*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
   
}
.col-2{
    width: 16.66%;
    
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
    padding : 0px 15px;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
header{
    background-color: black;
    padding: 15px 0px;
}
header .logo img{
    max-width: 150px;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.text-center{
    text-align: center;
}
ul{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    font-weight: 700;
}
.icon ul li a{
    display: block;
    padding: 15px;
    color: white;
}
.our-products{
    padding: 150px 0px;
}
.section-title{
    margin-bottom: 80px;
}
.section-title h3{
    font-size: 40px;
    padding-bottom: 15px;
    position: relative;
}
.section-title span{
    color: orange;
}
.section-title h3::after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background-color:#f28123;
}

.section-title p{
    font-size: 15px;
    width: 530px;
    margin: 0 auto;
    line-height: 1.8;
    margin-top: 10px;
    color: #555;
}

.product-items{
    box-shadow: 0 0 20px #e4e4e4;
    border-radius: 5px;
    padding-bottom: 50px;
}
.product-items .product-image img{
    width: 90%;
    padding: 30px;
}
.product-items h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.product-items p{
    font-size: 20px;
    margin-bottom: 25px;
}

.product-items h2{
    font-size: 35px;
    margin-bottom: 25px;
}
.cart-btn{
    padding: 10px 20px;
    background-color: #F28123;
}
.product-items a{
    text-decoration: none;
    color: white;
    border-radius: 50px;
}
.deal-of-month{
    background-color: #f5f5f5;
    padding: 100px 0px;
}

.deal-of-month img{
    max-width: 100%;
}

.deal-of-month-content h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.deal-of-month-content h2 span{
    color: #F28123;;
}
.deal-of-month-content h4{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
.deal-of-month-content p{
    max-width: 500px;
    line-height: 1.8;
}
.counter-column{
    margin-top:25px;
    margin-bottom: 35px;
}
.days{
    border: 2px solid #F28123;
    width: 95%;
    text-align: center;
    padding: 10px;
}
.days span{
    font-size: 30px;
    color: #F28123;
    font-weight: 700;
}
.deal-of-month-content a{
    display: inline-block;
    padding: 15px 25px;
    background-color: #F28123;
    border-radius: 50px;
    color: white;
}
.deal-of-month-content a i{
    color: white;
    margin-right: 5px;
    color: white;
}
.deal-of-month-content a:hover{
    background-color: #051922;
    color: #F28123;
}
.testimonail-section{
    padding: 150px 0px;
}
.testimonail-section img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
}
.testimonail-section h2{
    margin-bottom: 20px;
}
.testimonail-section span{
    margin-bottom: 25px;
    opacity: 0.5;
    font-weight: 600;
    font-size: 16px;
}
.testimonail-section p{
    width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8;
    color: #999999;
    font-style: italic;
    font-weight:500;
    margin-top: 20px;
}
.testimonail-section .last-icon i{
    font-size: 30px;
    margin-top: 20px;
    opacity: 0.3;
}
.abt-section{
    padding: 150px 0px;
}
.abt-img{
    background-image: url('../img/abt.jpg');
    height: 100%;
    width: 100%;
}   
